.single {
  margin: 5% auto;
  border: 1px solid red;
  border-radius: 20px;
  padding: 10px 0;
  width: 400px;
  text-align: center;
}
.button {
  margin: 10px;
}
img {
  width: 200px;
}
items {
  text-align: center;
}
